html {
    box-shadow: inset 20px 20px 150px rgba(0, 0, 0, 0.64);
    height: 100%;
}

body {
    background-color: #085A78;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);

}

h1 {
    font-size: 150px;
}

a, a:active, a:hover {
    color: rgb(228, 228, 228);
    font-size: 100px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}